In [1]:
# Import libraries
import psycopg2
import requests
import sys
import os

# Set custom path for secrets
sys.path.insert(0,"/home/nuclear/Github/PythonPrograms/Secrets")

In [2]:
# Connect to database
import crawler_pg_secrets as p

pg_con_params = {
    'host' : p.host,
    'user' : p.user,
    'dbname' : p.dbname,
    'password' : p.password,
    'port' : p.port
}

conn =  psycopg2.connect(**pg_con_params)
conn.commit()
cur = conn.cursor()

In [3]:
# Drop previous horizon table
table_name = 'indeed_horizon'
try:
    sql_cmnd = "drop table " + table_name + ";"
    cur.execute(sql_cmnd)
    print(table_name + 'dropped.')
except:
    print(table_name + ' not found.')
conn.commit()

# Create new horizon table
sql_cmnd = "create table "\
    + table_name\
    + " (id serial, url varchar(256), visited integer);"
cur.execute(sql_cmnd)    

# cur.execute("create table indeed_horizon(id serial, name varchar(120));")
conn.commit()

indeed_horizondropped.

NameError: name 'sqlCreateTable' is not defined